@page
@model SupportSystemApp.Pages.ForgetPasswordModel
@{
	ViewData["Title"] = "Forget Password";
	Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"]</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/ForgetPassword.css" />
</head>

<body>
	<div class="row">
		<div class="forget-password-wrapper">
			<h2>Text Your Email for reset your password</h2>
			@if (!string.IsNullOrEmpty(Model.Message))
			{
				<div class="alert alert-success mt-3">@Model.Message</div>
			}
			<form method="post" class="mt-3">
				<label asp-for="Email" class="form-label"></label>
				<input asp-for="Email" class="form-control" required />
				<button type="submit">Send</button>
			</form>
		</div>
	</div>

</body>
</html>